.main {
    width: 1257px;
    margin: auto;
}

.bg_sale {
    width: 100%;
    height: 345px;
    background-color: #26e066;
}

.bgimg_sale {
    width: 215px;
    margin: auto;
    padding-top: 25px;
}

.img_sale {
    width: 100%;
}

.bgtext1_sale {
    width: 615px;
    padding-top: 25px;
    margin: auto;
}

.text1_sale {
    font-size: 45px;
    letter-spacing: 1.5px;
    font-weight: 900;
    color: var(--flexible-banner-text-color);
    text-transform: uppercase;
    font-style: italic;
    line-height: 48px;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.bgtext2_sale {
    width: 410px;
    margin: auto;
}

.text2_sale {
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: 900;
    color: var(--flexible-banner-text-color);
    text-transform: uppercase;
    font-style: italic;
    line-height: 48px;
    padding: 0;
    margin: 0;
}

.bgtext3_sale {
    width: 360px;
    margin: auto;
}

.text3_sale {
    font-size: 23px;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: var(--flexible-banner-text-color);
    line-height: 48px;
    padding: 0;
    margin: 0;
}

.bgtext4_sale {
    width: 293px;
    margin: auto;
}

.text4_sale {
    font-size: 23px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: var(--flexible-banner-text-color);
    line-height: 48px;
    padding: 0;
    margin: 0;
}

.textboder_sale {
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: var(--flexible-banner-text-color);
    line-height: 48px;
    padding: 2px 12px;
    margin: 8px;
    border: 2px solid;
}

.bgtext5_sale {
    width: 572px;
    margin: auto;
    padding-top: 5px;
}

.text5_sale {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--flexible-banner-text-color);
    line-height: 48px;
    padding: 0;
    margin: 0;
}

.hero_img {
    margin-top: 25px;
    width: 100%;
    height: 600px;
}

.bghero_holder {
    width: fit-content;
    margin: auto;
    padding-top: 360px;
}

.hero_holder {
    width: 100%;
    margin: auto;
    background: white;
    border: none;
    padding: 0;
}

.hero_title {
    width: 100%;
    height: 77px;
    display: inline;
    line-height: 83px;
    font-size: 60px;
    padding: 6px 16px;
    color: black;
}

.bghero_button {
    width: fit-content;
    margin: auto;
    margin-top: 40px;
}

.bgfeature {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.moment {
    width: 1120px;
    margin: auto;
    height: 800px;
    margin-top: 60px;
    display: flex;
}

.bgmoment {
    width: 500px;
    margin: 30px;
}

.moment_img {
    width: 500px;
    height: 638px;
}

.moment_title {
    padding-top: 10px;
    margin: auto;
    width: fit-content;
    letter-spacing: 2px;
}

.moment_paragraph {
    margin: auto;
    width: fit-content;
    padding-top: 10px;
}

.moment_btn {
    margin: auto;
    width: 174px;
    padding-top: 25px;
}

.logo_title {
    padding-top: 60px;
    margin: auto;
    width: 275px;
    letter-spacing: 2px;
}

.logo {
    width: 100%;
    display: flex;
}