.productList {
  display: flex;
  width: 1372px;
  margin: auto;
  flex-wrap: wrap;
}

.header {
  background-color: #eee;
  font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 30px;
  text-align: center;
}

.header p {
  padding: 25px 0;
  margin: 0;
}

.mid {
  width: 100%;
}

.Container {
  width: 100%;
}
