.input_text {
    box-sizing: border-box;
    position: relative;
    height: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.664);
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .input_group {
    font-size: 14px;
    font-weight: 750;
    color: #6b6b6b;
    letter-spacing: 2px;
    position: relative;
  }
  
  .input_group .label {
    margin-top: 25px;
    width: 20%;
    font-size: 20px;
    display: flex;
  }
  